{% extends 'base.html.twig' %}

{% block title %}Modifier votre mot de passe{% endblock %}

{% block body %}
    <div class="flex min-h-full flex-col justify-center px-6 py-6 lg:px-8">
        <div class="sm:mx-auto sm:w-full max-w-7xl">
            <h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">Modifier votre mot de passe</h2>
        </div>

        <div class="mt-10 sm:mx-auto sm:w-full max-w-7xl">
            <form method="post" action="{{ path('api_change_password', {'token': token }) }}" class="max-w-sm mx-auto">
                {{ form_errors(form) }}
                <div class="mb-5">
                    {{ form_label(form.password.first, 'Mot de passe', {'label_attr': {'class': 'block mb-2 text-sm font-medium text-gray-900 dark:text-white'}}) }}
                    {{ form_widget(form.password.first, {'attr': {'class': 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500'}}) }}
                    <div class="mt-2 text-sm text-red-600">
                        {{ form_errors(form.password.first) }}
                    </div>
                </div>
                <div class="mb-5">
                    {{ form_label(form.password.second, 'Répéter le mot de passe', {'label_attr': {'class': 'block mb-2 text-sm font-medium text-gray-900 dark:text-white'}}) }}
                    {{ form_widget(form.password.second, {'attr': {'class': 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500'}}) }}
                    <div class="mt-2 text-sm text-red-600">
                        {{ form_errors(form.password.second) }}
                    </div>
                </div>
                {{ form_row(form.userId) }}
                {{ form_widget(form.save, {'attr': {'class': 'text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800'}}) }}
                {{ form_rest(form) }}
            </form>
        </div>
    </div>
{% endblock %}